<html>

<head>
    <title>Diabetes Predictor for Women</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</head>

<body style="margin:0 auto; text-align: center">
    <br>
    <br>
    <img src="/amresh.png" alt="Logo">
    <form method="POST" action="{{ url_for('predict')}}">
        <br>
        <h3>Diabetes Predictor for Females &nbsp; &nbsp; &nbsp;<button type="submit" class="btn btn-primary"><b>Predict</b></button></h3>

        <br>
        <h6>Enter the parameters given below to find out the chances of you being a Diabetic person: </h6>
        <br>
        <div style="margin-left: 410px;">
            <div class="form-group row">
                <label for="example-number-input" class="col-2 col-form-label">Number of Pregnancies</label>
                <div class="col-4">
                    <input class="form-control" type="number" value="" name="preg" id="example-number-input">
                    <div class="valid-feedback"></div>
                </div>
            </div>
            <div class="form-group row">
                <label for="example-number-input" class="col-2 col-form-label">Glucose</label>
                <div class="col-4">
                    <input class="form-control" type="number" value="" name="glucose" id="example-number-input">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-number-input" class="col-2 col-form-label">Blood Pressure</label>
                <div class="col-4">
                    <input class="form-control" type="number" value="" name="bp" id="example-number-input">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-number-input" class="col-2 col-form-label">Skin Thickness (mm)</label>
                <div class="col-4">
                    <input class="form-control" type="number" value="" name="skin" id="example-number-input">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-number-input" class="col-2 col-form-label">Insulin</label>
                <div class="col-4">
                    <input class="form-control" type="number" value="" name="insulin" id="example-number-input">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-number-input" class="col-2 col-form-label">Body Mass Index</label>
                <div class="col-4">
                    <input class="form-control" type="number" value="" name="bmi" id="example-number-input">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-number-input" class="col-2 col-form-label">Diabetes Pedigree Function</label>
                <div class="col-4">
                    <input class="form-control" type="number" value="" name="dpf" id="example-number-input">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-number-input" class="col-2 col-form-label">Age</label>
                <div class="col-4">
                    <input class="form-control" type="number" value="" name="age" id="example-number-input">
                </div>
            </div>
        </div>
    </form>
    <br>
</body>
<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

</html>